<h2> Search for courses </h2>

<head>
  <script src="do_search.js.erb" type="text/javascript" charset="utf-8"></script>
  <!-- <%= javascript_include_tag "do_search" %> -->
</head>


<%= form_tag(do_search_courses_path, method: "get", remote: true, id: "form") do %>
  <div class="field search-field modern">
    <%= text_field_tag :name, nil, placeholder: "Keywords for course names", id: "keywords" %>
  </div>

  <div class="field search-field">
    <%= label_tag :subject %><br>
    <%= select_tag :subject, options_from_collection_for_select(Subject.order(:name), :s_id, :name), prompt: "Please select a subject", data: { remote: true, url: url_for( action: :do_search, id: :s_id), id: "subject" } %>
  </div>
<% end %>

<div class="row col-md-offset-1 col-md-11">
  <div id="search_results">
    <%= render 'search_results' %>
</div>
